flows/Communities_Assign_Skills.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Skill_Null_Error</name>
        <label>Skill Null Error</label>
        <locationX>917</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>Skill_Null</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skill_Selection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Skill_Not_Null_Check</name>
        <label>Skill Not Null Check</label>
        <locationX>716</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Skill_Null_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skill_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Skill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skill_Inputs</targetReference>
            </connector>
            <label>Skill Not Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Skill_Proxy_Record_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Skill_Proxy__c</object>
        <outputAssignments>
            <assignToReference>Selected_Skill</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Communities Assign Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communities Assign Skills</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SRS</name>
        <label>Create SRS</label>
        <locationX>524</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Display_SRS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Skill_Inputs</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EffectiveEndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>Get_Related_Skill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <elementReference>Skill_Level</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResourceSkill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Skill</name>
        <label>Get Related Skill</label>
        <locationX>529</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Not_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Skill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_SRS</name>
        <label>Display SRS</label>
        <locationX>524</locationX>
        <locationY>961</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SRS_creation_success_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(35, 182, 21); font-size: 16px;&quot;&gt;Service Resource Skill {!Create_SRS} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Skill_Inputs</name>
        <label>Skill Inputs</label>
        <locationX>524</locationX>
        <locationY>568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_SRS</targetReference>
        </connector>
        <fields>
            <name>Flow_Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 17, 17);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skill_details_text</name>
            <fieldText>&lt;p&gt;Enter Skill details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Skill_Level</name>
            <dataType>Number</dataType>
            <fieldText>Skill Level</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Skill_Selection</name>
        <label>Skill Selection</label>
        <locationX>712</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Related_Skill</targetReference>
        </connector>
        <fields>
            <name>Skill_Null_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 26, 26);&quot;&gt;Please select a valid Skill which is mapped to Skill Proxy record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Skill_Null</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skill_Proxy_Picklist</name>
            <choiceReferences>Skill_Proxy_Record_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Skill_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Skill</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skill_Null</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
